name: build

on:
  push:
    schedule:
      - cron: '0 2 * * *'
    branches:
      - '**'
    tags:
      - 'v*'
  pull_request:

jobs:
  build:
    runs-on: arvato
    steps:
      - name: Checkout
        uses: actions/checkout@v4.3.1
      - name: Docker Meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v5
        with:
          images: ghcr.io/arvatoaws-labs/sfn-ng
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}
            {{major}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64,amd64
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          version: latest
          driver-opts: image=moby/buildkit:master
      - name: Login to GitHub Packages Docker Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
          #username: jenkins-arvato
          #password: ${{ secrets.CR_PAT }}
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          pull: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
