name: publish

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: arvato
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Login to crates.io
        uses: actions-rs/cargo@v1
        with:
          command: login
          args: ${{ secrets.CRATES_TOKEN }}
      - name: Publish new version
        uses: actions-rs/cargo@v1
        with:
          command: publish
